.overridden-hint-wrapper {
    font-style: italic;

    .lead-text {
        &:before {
            color: #eb5202;
            content: '\e623';
            font-family: "Admin Icons";
            display: inline-block;
            margin-right: 0.5em;
        }
    }

    .override-scope {
        cursor: pointer;
    }

    .override-value {
        &.visible {
            display: block;
        }
    }
}